<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}

        <table>
            <tr>
                <td colspan="2"> Enter the first Number</td>
                <td colspan="2"><input type="text" name="txt_number1" id="txt_number1"></td>
            </tr>
            <tr>
                <td colspan="2"> Enter the  second Number</td>

                <td colspan="2"><input type="text" name="txt_number2" id="txt_number2"></td>
            </tr>
            <tr>
                <td><input type="submit" value="+" name="operator"></td>
                <td><input type="submit" value="-" name="operator"></td>
                <td><input type="submit" value="/" name="operator"></td>
                <td><input type="submit" value="*" name="operator"></td>
            </tr>
            <tr>
                <td>Result:</td>
                <td>{{sum}}</td>
            </tr>
        </table>
    </form>
</body>
</html>