<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
                <th>Enter a Name for the Package:</th>
                <td><input type="text" name="txtname" id="txtname"></td>
            </tr>
            <tr>
                <th>Enter details:</th>
                <td><textarea name="txtdet" id="txtdet"></textarea></td>
            </tr>
            <tr>
                <input type="submit" value="Submit">
            </tr>
        </table>
    </form>
</body>
</html>