{% extends 'Admin/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply</title>
</head>
<body>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Reply for the Complaint</h4>
            <form  action="" method="post" class="forms-sample">
              {% csrf_token %}
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Reply</label>
                <div class="col-sm-9">
                    <textarea class="form-control" required name="txtreply" id="txtreply"></textarea>
                </div>
              </div>
              <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
          </div>
        </div>
      </div>
</body>
</html>

{% if msg %}
   <script>
    alert("{{msg}}");
    window.location="{% url 'Admin:ViewUserComplaints'  %}";
</script>
{% endif %}
{% endblock %}